# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Model files
models
models

# Data files
data/*.csv
data/*.xlsx

# Environment files
.env

# Build artifacts
dist/
build/

# IDE settings
.vscode/
.idea/

# Temporary files
*.tmp
*.bak